:root {
	--background-opacity: 0.9;
	--main-bg-color: #f8f9fa;
	--app-secondary-color: #2c387e;
	--app-light-color: '#fff';
	--app-dark-color: black;
	--app-transparent-color: rgba(0, 0, 0, 0);
	/* --app-card-color: ; */
	--form-error-color: red;
  --app-chart-color: #fff;
}
a {
  text-decoration: none;
}
